body {
    background-color: rgb(38, 37, 68);
}

.cabecalho {
    width: 100%;
    text-align: center;
}

.corpo {
    width: 100%;
    margin-top: 2em;
}

.rodape {
    width: 100%;
    margin-top: 2em;
}